*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: sans-serif;
}

:root{
    --backgroung-color: rgb(147, 163, 255);
    --btn-color: rgb(44, 63, 229);
    --btn-color-hover: rgb(27, 118, 255);
    --nav-link-color: black;
    --nav-link-hover: #ffd024;
}

.header{
    background-color: var(--backgroung-color);
    min-height: 80%;
    display: flex;
    justify-content: space-between;
}

.nav{
    display: flex;
    list-style-type: none;
}

.nav-Item{
    margin: 6px 8px;
    padding: 0.3rem;
}

.nav-link{
    text-decoration: none;
    color: var(--nav-link-color);
}

.nav-link:hover{
    color: var(--nav-link-hover);
    text-decoration: underline;
}

.btn-box{
    margin-top: 0.2rem;
}
.btn-right{
    margin-right: 0.8rem;
}

.btn, .btn-right{
    margin-right: 0.8rem;
    background-color: var(--btn-color);
    padding: 7px 10px;
    color: #ffffff;
    border-radius: 5px;
    border: none;
}

.btn:hover, .btn-right:hover{
    background-color: var(--btn-color-hover);
}

.search{
    width: 45%;
    height: 30px;
    border-radius: 2rem;
    border: none;
    padding: 7px 10px;
    margin-top: 4px;
}